:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --buttonColor: black;
}

html,
body {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #15bcd6;
}

ul {
  list-style: none;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--mainText);
  font-family: "Roboto Mono", monospace;
}
/* .typing {
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 4.5s steps(30, end) infinite,
    cursor-blink 0.75s step-end infinite;
} */

.main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.image {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 1px solid var(--borderColor);
  border-radius: 100%;

  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
.face {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  backface-visibility: hidden;
}
.even {
  z-index: 2;
  transform: rotateY(0deg);
}
.odd {
  z-index: 1;
  transform: rotateY(180deg);
}

@keyframes rotation {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.about-wrapper {
  display: grid;
  padding-bottom: 50ox;
  padding-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
  margin-bottom: 50px;
}
.social-links {
  /* display: grid; */
  align-content: center;
  text-align: center;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  border-radius: 0.6rem;
  cursor: pointer;
  border: 1px solid rgba(172, 32, 32, 0.2);
  background: transparent;
  background-color: #18030300;
}

.btn:hover {
  background-color: rgba(250, 103, 103, 0.12);
}
/* .btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 10px 23px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 0.8rem;
    color: black;
    background: #ffffff;
    border: 3px solid #999999;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

.btn.btn-border-1::after,
.btn.btn-border-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.btn.btn-border-1::after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid #222222;
    border-bottom: 3px solid #222222;
    transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn.btn-border-1::before {
    top: -3px;
    left: -3px;
    border-top: 3px solid #222222;
    border-right: 3px solid #222222;
    transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn.btn-border-1:hover {
    animation: pulse 1s ease-out .4s;
    color: #222222;
}

.btn.btn-border-1:hover::after,
.btn.btn-border-1:hover::before {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    visibility: visible;
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::after {
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::before {
    transition: width .1s ease, height .1s ease .1s;
} */

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 300px;
}

.cards_item {
  display: flex;
  padding: 1rem;
  height: 500px;
}
#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 31.3333%;
  }
}

.card:hover {
  border: 1.7px solid var(--borderColor);
}
.card {
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 2rem;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}
.card_small {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  /* text-transform: capitalize; */
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes cursor-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.intro-wrapper {
  border-radius: 5px 5px 0 0;

  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}
#profile_pic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
  border-radius: 100%;
}
#theme-options-wrapper {
  display: flex;
  justify-content: center;
}
.theme-dot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;

  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}
.browser-dot:hover {
  border-width: 2px;
}

.theme-dot:hover {
  border-width: 3px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

#settings-note {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}
.nav-wrapper {
  border-radius: 4px 4px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

#navigation a {
  color: var(--mainText);
}

.about-wrapper {
  width: 100%;
}
#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}
#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}
.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  margin: 5px;
  border: 1px solid var(--themeDotBorder);
}
.icon:hover {
  border: 1px solid #ef8d9c;
}
.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 74px;
}
#preview-shadow {
  background-color: var(--previewShadow);
  max-width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}
#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 6px;
  position: relative;
}
#preview-shadow {
  background-color: var(--previewShadow);
  max-width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.greeting-wrapper {
  display: grid;
  min-height: 10em;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.post-wrapper {
  display: grid;
  justify-content: center;
  gap: 100px;
  padding-bottom: 50px;
  grid-template-columns: repeat(auto-fit, 320px);
}

.post {
  /* border: 1px solid;
   */
  border-radius: 0.8rem;
  -webkit-box-shadow: -2px 3px 2px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 2px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 2px 3px rgba(24, 20, 20, 0.75);
}
/* .post:hover {
  border: 1.px solid var(--borderColor);
} */

.thumbnail {
  width: 319px;
  height: 230px;
  display: block;
  object-fit: cover;
  border: 0.8px solid black;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  /* border-bottom-right-radius:  0.70rem; */
}
.post-preview {
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  border: 2px solid black;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  padding: 15px;
  width: 288px;
}
/* ----------------------- */
.post-title {
  color: #ffffff;
  margin: 0;
}

.post-intro {
  color: #ffffff;
  font-size: 14px;
  height: 80px;
}
a {
  color: #17a2b8;
  font-size: x-large;
}
#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
  border-radius: 0.5rem;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 20%;
  padding-top: 10px;
  border-radius: 0.6rem;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
}

/* ----------------------- */

.main-container {
  width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .right-column {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  #preview-shadow {
    max-width: 310px;
    height: 180px;
    padding-left: 9px;
    padding-top: 7px;
  }

  #preview {
    width: 280px;
  }
}
